:root{
    --explosion-size: 3;

}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#marco {
    background-color: rgba(23, 0, 156, 0.212);
    border: 5px rgb(255, 206, 43) solid;
}

#pantalla {
    position: relative; 
    width: 1800px;
    height: 850px;
}

#imagenFondo {
    background-color: rgb(70, 128, 253);
    background-image: url("https://raw.githubusercontent.com/Alowster/img/refs/heads/main/bgcampo.png");
    position: absolute;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: repeat-x;
    width: 1800px;
    height: 850px;
    
}

#jugador {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    z-index: 1;
}

#base {
    position: absolute;
    width: 200px;
    height: 170px;
    top: 69%;
    left: 46%;

}

#castillo {
    width: 100%;
}

img {
    image-rendering: pixelated;
}

.bullet {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 242);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

#ground {
    position: absolute;
    width: 1800px;
    height: 100px;
    bottom: 0;
    left: 0;

 
}

.explosion {
    width: calc(30px * var(--explosion-size));
    height: calc(30px * var(--explosion-size));
    position: absolute;
    transform: translate3d(-50%,-70%,0);
    overflow: hidden;
}

.explosion_spriteSheet {
    animation: explosion 0.6s steps(4);
    width: calc(120px * var(--explosion-size));
    height: calc(30px * var(--explosion-size));
}

@keyframes explosion  {
    from {
        transform: translate3d(0,0,0);
    }to {
        transform: translate3d(-104%,0,0);
    }
}